.idea
.slcache
*.db
*.old
out
target
web-app/WEB-INF/tld
*.iml
target-eclipse
.settings
*.autosave
log
*.war
mysql-connector-java-5.1.26-bin.jar
mysql-connector-license.txt
timeclock/logs
null
remove_dups/remove_dups_1.txt
classes
test/unit/edu/usu/timeclock/ContentControllerSpec.groovy
ShiftControllerIntSpec.groovy
*.pyc
*.png
